[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
whitenoise = "*"
environs = {extras = ["django"], version = "*"}
psycopg2-binary = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
